bruño
*.aux
*.log
*.tex
*.out
*.synctex.gz
*.toc
*.el
*.pdf
/apuntes/4/110912-font-awesome.zip
/apuntes/4/149086-essential-set.zip
/apuntes/4/149629-essential-compilation.zip
/apuntes/4/159586-interface-icon-compilation.zip
/profesor
